@font-face {
	font-family: grotesk;
	src: url(HKGrotesk-Medium.woff)
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: grotesk;
  background-color: #06000D;
}

* {
	box-sizing: border-box;
	font-family: grotesk;
}

a {
  color: inherit;
  text-decoration: none;
}
.footer {
  width: 100%;
  border-top: 1px solid  hsla(321, 80%, 24%, .5);
  margin-top: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(321, 80%, 24%, 1);
}

#header {
  padding-top: 8px;
  height: 38px;
  color: #D91895
}

#header-content {
  position: relative;
  padding-top: 3px;
  padding-bottom: 2px;
  text-align: center;
  text-shadow: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #D91895;
}

#header-content a:hover,
#header-content a:focus,
#header-content a:active {
  text-shadow: 0 0 4px;
  color: #6227D9
}

.about-links:hover,
.about-links:focus,
.about-links:active {
  text-shadow: 0 0 4px;
  color: #6227D9
}

#heading {
  margin-top: 60px;
  margin-bottom: 23px;
  text-shadow: 0 0 2px;
  color: #D91895;
  font-family: grotesk;
}


#heading2 {
	text-shadow: 0 0 2px;
	color: #D91895;
  font-family: grotesk;
  text-align: center;
}

.about {
  color: #6E0C4B;
  line-height: 25px;
  font-family: grotesk;
  text-align: center;
}

.additional {
  /* width: 100pc; */
  display: flex;
  padding-top: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

#projects-heading {
  text-shadow: 0 0 10px #3AA629;
  color: #4CD936;
  font-family: grotesk;

}

.project-middle {
  display: grid;
  border-right: solid 2px #6E0C4B;
  border-left: solid 2px #6E0C4B;
  padding-right: 20px;
  padding-left: 10px;
  flex-wrap: wrap;
}

.item {
  display: grid;
  /* border: solid 2px #6E0C4B; */
  padding-right: 20px;
  padding-left: 10px;
  flex-wrap: wrap;
  color: #D91895
}


.project-title {
  /* display: flex; */
  position: relative;
  text-align: center;
  text-shadow: 0 0 5px;
}

.project-description {
  padding-top: 10px;
}

.project-url a:hover,
.project-url a:focus,
.project-url a:active {
  color: #6226D9;
  
}

.project-url {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: #B4D638
}
